/* -----------------START STRUCTURE ----------------- */
.nd_donations_section { float: left; width: 100%; }
.nd_donations_container{ width:1200px; margin:auto; padding: 0px; }
.nd_donations_clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }


/* -----------------START WIDGETS ----------------- */
.elementor-widget-causes { background: transparent !important; }


/* -----------------START CLASS ----------------- */

.nd_donations_width_100_percentage { width: 100%; }
.nd_donations_width_75_percentage { width: 75%; }
.nd_donations_width_70_percentage { width: 70%; }
.nd_donations_width_66_percentage { width: 66%; }
.nd_donations_width_65_percentage { width: 65%; }
.nd_donations_width_60_percentage { width: 60%; }
.nd_donations_width_50_percentage { width: 50%; }
.nd_donations_width_40_percentage { width: 40%; }
.nd_donations_width_35_percentage { width: 35%; }
.nd_donations_width_33_percentage { width: 33.33%; }
.nd_donations_width_30_percentage { width: 30%; }
.nd_donations_width_25_percentage { width: 25%; }
.nd_donations_width_20_percentage { width: 20%; }
.nd_donations_width_15_percentage { width: 15%; }
.nd_donations_width_10_percentage { width: 10%; }
.nd_donations_width_60 { width: 60px; }
.nd_donations_width_50 { width: 50px; }
.nd_donations_width_40 { width: 40px; }
.nd_donations_width_30 { width: 30px; }
.nd_donations_width_20 { width: 20px; }
.nd_donations_width_initial { width: initial; }


.nd_donations_height_200 { height: 200px; }
.nd_donations_height_130 { height: 130px; }
.nd_donations_height_80 { height: 80px; }
.nd_donations_height_60 { height: 60px; }
.nd_donations_height_50 { height: 50px; }
.nd_donations_height_45 { height: 45px; }
.nd_donations_height_40 { height: 40px; }
.nd_donations_height_33 { height: 33px; }
.nd_donations_height_30 { height: 30px; }
.nd_donations_height_25 { height: 25px; }
.nd_donations_height_20 { height: 20px; }
.nd_donations_height_22 { height: 22px; }
.nd_donations_height_15 { height: 15px; }
.nd_donations_height_10 { height: 10px; }
.nd_donations_height_5 { height: 5px; }
.nd_donations_height_3 { height: 3px; }
.nd_donations_height_0 { height: 0px; }
.nd_donations_height_100_percentage { height: 100%; }
.nd_donations_min_height_100 { min-height: 100px; }

.nd_donations_float_left { float: left; }
.nd_donations_float_right { float: right; }
.nd_donations_float_none { float: none; }

.nd_donations_padding_0 { padding: 0px; }
.nd_donations_padding_5 { padding: 5px; }
.nd_donations_padding_7 { padding: 7px; }
.nd_donations_padding_8 { padding: 8px; }
.nd_donations_padding_10 { padding: 10px; }
.nd_donations_padding_15 { padding: 15px; }
.nd_donations_padding_20 { padding: 20px; }
.nd_donations_padding_30 { padding: 30px; }
.nd_donations_padding_40 { padding: 40px; }
.nd_donations_padding_50 { padding: 50px; }

.nd_donations_padding_10_0 { padding: 10px 0px; }
.nd_donations_padding_10_20 { padding: 10px 20px; }
.nd_donations_padding_10_20_important { padding: 10px 20px !important; }
.nd_donations_padding_10_25 { padding: 10px 25px; }
.nd_donations_padding_20_10 { padding: 20px 10px; }
.nd_donations_padding_20_15 { padding: 20px 15px; }
.nd_donations_padding_20_25 { padding: 20px 25px; }
.nd_donations_padding_20_0 { padding: 20px 0px; }
.nd_donations_padding_15_0 { padding: 15px 0px; }
.nd_donations_padding_18_0 { padding: 18px 0px; }
.nd_donations_padding_15_20 { padding: 15px 20px; }
.nd_donations_padding_15_25 { padding: 15px 25px; }
.nd_donations_padding_15_25_important { padding: 15px 25px !important; }
.nd_donations_padding_5_0 { padding: 5px 0px; }
.nd_donations_padding_40_20 { padding: 40px 20px; }
.nd_donations_padding_40_0 { padding: 40px 0px; }
.nd_donations_padding_5_10 { padding: 5px 10px; }
.nd_donations_padding_8_10 { padding: 8px 10px; }
.nd_donations_padding_5_20 { padding: 5px 20px; }
.nd_donations_padding_0_10 { padding: 0px 10px; }
.nd_donations_padding_0_15 { padding: 0px 15px; }
.nd_donations_padding_0_25 { padding: 0px 25px; }
.nd_donations_padding_0_50 { padding: 0px 50px; }
.nd_donations_padding_bottom_0 { padding-bottom: 0px; }
.nd_donations_padding_left_20 { padding-left: 20px; }
.nd_donations_padding_left_10 { padding-left: 10px; }
.nd_donations_padding_left_15 { padding-left: 15px; }
.nd_donations_padding_left_40 { padding-left: 40px; }
.nd_donations_padding_left_120 { padding-left: 120px; }
.nd_donations_padding_right_15 { padding-right: 15px; }
.nd_donations_padding_right_10 { padding-right: 10px; }
.nd_donations_padding_top_5 { padding-top: 5px; }
.nd_donations_padding_top_0 { padding-top: 0px; }


.nd_donations_margin_0 { margin: 0px; }
.nd_donations_margin_0_10 { margin: 0px 10px; }
.nd_donations_margin_5 { margin: 5px; }
.nd_donations_margin_top_8 { margin-top: 8px; }
.nd_donations_margin_top_10 { margin-top: 10px; }
.nd_donations_margin_top_20 { margin-top: 20px; }
.nd_donations_margin_bottom_20 { margin-bottom: 20px; }
.nd_donations_margin_bottom_40 { margin-bottom: 40px; }
.nd_donations_margin_right_40 { margin-right: 40px; }
.nd_donations_margin_right_10 { margin-right: 10px; }
.nd_donations_margin_right_5 { margin-right: 5px; }
.nd_donations_margin_right_20 { margin-right: 20px; }
.nd_donations_margin_left_20 { margin-left: 20px; }
.nd_donations_margin_left_10 { margin-left: 10px; }
.nd_donations_margin_left_40 { margin-left: 40px; }

.nd_donations_color_white { color: #fff; }
.nd_donations_color_white_important { color: #fff !important; }

.nd_donations_font_size_70 { font-size: 70px; line-height: 70px; }
.nd_donations_font_size_60 { font-size: 60px; line-height: 60px; }
.nd_donations_font_size_50 { font-size: 50px; line-height: 50px; }
.nd_donations_font_size_40 { font-size: 40px; line-height: 45px; }
.nd_donations_font_size_35 { font-size: 35px; line-height: 35px; }
.nd_donations_font_size_20 { font-size: 20px; line-height: 20px; }
.nd_donations_font_size_16 { font-size: 16px; line-height: 16px; }
.nd_donations_font_size_15 { font-size: 15px; line-height: 15px; }
.nd_donations_font_size_14 { font-size: 14px; line-height: 14px; }
.nd_donations_font_size_13 { font-size: 13px; line-height: 13px; }
.nd_donations_font_size_12 { font-size: 12px; line-height: 12px; }
.nd_donations_font_size_11 { font-size: 11px; line-height: 11px; }
.nd_donations_font_size_10 { font-size: 10px; line-height: 10px; }

.nd_donations_font_weight_500 { font-weight: 500; }

.nd_donations_letter_spacing { letter-spacing: 2px; }
.nd_donations_letter_spacing_1 { letter-spacing: 1px; }

.nd_donations_line_height_13 { line-height: 13px; }
.nd_donations_line_height_16 { line-height: 16px; }
.nd_donations_line_height_20 { line-height: 20px; }
.nd_donations_line_height_50 { line-height: 50px; }
.nd_donations_line_height_40 { line-height: 40px; }
.nd_donations_line_height_30 { line-height: 30px; }
.nd_donations_line_height_33 { line-height: 33px; }
.nd_donations_line_height_25 { line-height: 25px; }
.nd_donations_line_height_22 { line-height: 22px; }

.nd_donations_line_height_1_5_em { line-height: 1.5em; }
.nd_donations_line_height_1_8_em { line-height: 1.8em; }

.nd_donations_background_size_cover { background-size: cover; }
.nd_donations_background_size_25 { background-size: 25px; }

.nd_donations_background_position_center_bottom { background-position: center bottom; }
.nd_donations_background_position_center_top { background-position: center top; }
.nd_donations_background_position_center { background-position: center; }

.nd_donations_background_repeat_no_repeat { background-repeat: no-repeat; }

.nd_donations_background_transparent_important { background: transparent !important; }

.nd_donations_bg_black { background-color: #000; }
.nd_donations_bg_black_important { background-color: #000 !important; }
.nd_donations_bg_white { background-color: #fff; }
.nd_donations_background_color_fff { background-color: #fff; }
.nd_donations_background_color_f1f1f1 { background-color: #f1f1f1; }
.nd_donations_bg_white_alpha_85 { background-color: rgba(255, 255, 255, 0.85); }
.nd_donations_bg_white_alpha_10 { background-color: rgba(255, 255, 255, 0.10); }
.nd_donations_bg_grey_3 { background-color: #e4e4e4; }
.nd_donations_bg_yellow { background-color: #FFDA44; }

.nd_donations_box_shadow_0_0_15_0_0001 { box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); }

.nd_donations_bg_greydark_alpha_3 { background-color: rgba(101, 100, 96, 0.3); }
.nd_donations_bg_greydark_alpha_4 { background-color: rgba(101, 100, 96, 0.4); }
.nd_donations_bg_greydark_alpha_5 { background-color: rgba(101, 100, 96, 0.5); }
.nd_donations_bg_greydark_alpha_6 { background-color: rgba(101, 100, 96, 0.6); }
.nd_donations_bg_greydark_alpha_8 { background-color: rgba(101, 100, 96, 0.8); }
.nd_donations_bg_greydark_alpha_9 { background-color: rgba(101, 100, 96, 0.9); }
.nd_donations_bg_greydark_alpha_gradient { 
	background: -moz-linear-gradient(top, rgba(101,100,96,0) 0%, rgba(101,100,96,0.1) 60%, rgba(101,100,96,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
	background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}
.nd_donations_bg_greydark_alpha_gradient_2{
	background: -moz-linear-gradient(top, rgba(101,100,96,0.8) 0%, rgba(101,100,96,0) 35%, rgba(101,100,96,0) 45%, rgba(101,100,96,0.8) 100%);
	background: -webkit-linear-gradient(top, rgba(101,100,96,0.8) 0%,rgba(101,100,96,0) 35%,rgba(101,100,96,0) 45%,rgba(101,100,96,0.8) 100%);
	background: linear-gradient(to bottom, rgba(101,100,96,0.8) 0%,rgba(101,100,96,0) 35%,rgba(101,100,96,0) 45%,rgba(101,100,96,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99656460', endColorstr='#99656460',GradientType=0 );
}
.nd_donations_bg_greydark_alpha_gradient_3{
	background: -moz-linear-gradient(top, rgba(101,100,96,0) 0%, rgba(101,100,96,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(101,100,96,0) 0%,rgba(101,100,96,0.65) 100%);
	background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}
.nd_donations_bg_greydark_alpha_gradient_3_2{
	background: -moz-linear-gradient(top, rgba(101,100,96,0) 0%, rgba(101,100,96,1) 100%);
	background: -webkit-linear-gradient(top, rgba(101,100,96,0) 0%,rgba(101,100,96,1) 100%);
	background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}
.nd_donations_bg_greydark_alpha_gradient_4 { 
	background: -moz-linear-gradient(top, rgba(101,100,96,0.65) 0%, rgba(101,100,96,0.1) 60%, rgba(101,100,96,0) 100%);
	background: -webkit-linear-gradient(top, rgba(101,100,96,0.65) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0) 100%);
	background: linear-gradient(to bottom, rgba(101,100,96,0.65) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}

.nd_donations_bg_greydark_alpha_gradient_5 { 
	background: -moz-linear-gradient(top, rgba(28,28,28,0) 0%, rgba(28,28,28,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(28,28,28,0) 0%,rgba(28,28,28,0.65) 100%);
	background: linear-gradient(to bottom, rgba(28,28,28,0) 0%,rgba(28,28,28,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}

.nd_donations_text_decoration_none { text-decoration: none; }
.nd_donations_text_decoration_underline{ text-decoration: underline; }

.nd_donations_text_align_center { text-align: center; }
.nd_donations_text_align_right { text-align: right; }

.nd_donations_border_radius_top_3 { border-radius: 3px 3px 0px 0px; }
.nd_donations_border_radius_3 { border-radius: 3px; }
.nd_donations_border_radius_30 { border-radius: 30px; }
.nd_donations_border_radius_3_important { border-radius: 3px !important; }
.nd_donations_border_radius_100_percentage { border-radius: 100%; }

.nd_donations_border_width_0 { border-width: 0px; }
.nd_donations_border_1_solid_white { border: 1px solid #fff; }
.nd_donations_border_2_solid_white_important { border: 2px solid #fff !important; }

.nd_donations_display_none { display: none; }
.nd_donations_display_none_important { display: none !important; }
.nd_donations_display_inline_block { display: inline-block; }
.nd_donations_display_table { display: table; }
.nd_donations_display_table_cell { display: table-cell; }

.nd_donations_vertical_align_middle { vertical-align: middle; }
.nd_donations_vertical_align_bottom { vertical-align: bottom; }
.nd_donations_vertical_align_top { vertical-align: top; }

.nd_donations_position_fixed { position: fixed; }
.nd_donations_position_relative { position: relative; }
.nd_donations_position_absolute { position: absolute; }
.nd_donations_left_0 { left: 0px; }
.nd_donations_left_20 { left: 20px; }
.nd_donations_left_35 { left: 35px; }
.nd_donations_left_30 { left: 30px; }
.nd_donations_left_40 { left: 40px; }
.nd_donations_top_0 { top: 0px; }
.nd_donations_top_20 { top: 20px; }
.nd_donations_top_30 { top: 30px; }
.nd_donations_top_35 { top: 35px; }
.nd_donations_bottom_20 { bottom: 20px; }
.nd_donations_bottom_30 { bottom: 30px; }
.nd_donations_bottom_40 { bottom: 40px; }
.nd_donations_bottom_0 { bottom: 0px; }
.nd_donations_right_30 { right: 30px; }
.nd_donations_right_20 { right: 20px; }
.nd_donations_right_15 { right: 15px; }
.nd_donations_right_15_important { right: 15px !important; }
.nd_donations_right_0 { right: 0px; }
.nd_donations_bottom_35_negative { bottom: -35px; }
.nd_donations_bottom_16_negative { bottom: -16px; }

.nd_donations_box_sizing_border_box { box-sizing: border-box; }

.nd_donations_text_transform_uppercase { text-transform: uppercase; }

.nd_donations_list_style_none { list-style: none; }

.nd_donations_outline_0 { outline: 0; }

.nd_donations_overflow_hidden { overflow: hidden; }
.nd_donations_overflow_x_auto { overflow-x: auto; }

.nd_donations_cursor_pointer { cursor: pointer; }
.nd_donations_cursor_progress { cursor: progress; }
.nd_donations_cursor_no_drop { cursor: no-drop; }
.nd_donations_cursor_not_allowed { cursor: not-allowed; }

.nd_donations_opacity_0 { opacity: 0; }
.nd_donations_opacity_06 { opacity: 0.6; }
.nd_donations_opacity_04 { opacity: 0.4; }
.nd_donations_opacity_03 { opacity: 0.3; }
.nd_donations_opacity_02 { opacity: 0.2; }
.nd_donations_opacity_5 { opacity: 5; }




/* -----------------START CLASS color ----------------- */

.nd_donations_border_3_solid_white { border: 3px solid #fff; }
.nd_donations_border_1_solid_grey { border: 1px solid #f1f1f1; }
.nd_donations_border_right_1_solid_grey { border-right: 1px solid #f1f1f1; }
.nd_donations_bg_grey { background-color: #f9f9f9; }
.nd_donations_bg_greydark_2 { background-color: #575757; }
.nd_donations_border_top_1_solid_grey { border-top: 1px solid #f1f1f1; }
.nd_donations_border_bottom_1_solid_grey { border-bottom: 1px solid #f1f1f1; }
.nd_donations_border_bottom_1_solid_greydark { border-bottom: 1px solid #575757; }
.nd_donations_single_cause_tags_container p a { border: 1px solid #f1f1f1; padding: 5px; margin: 5px 10px; border-radius: 3px; font-size: 13px; }
.nd_donations_border_bottom_2_solid_grey { border-bottom: 2px solid #f1f1f1; }
.nd_donations_border_bottom_2_solid_white { border-bottom: 2px solid #ffffff; }
.nd_donations_color_grey { color:#a3a3a3; }

/* -----------------START SHORTCODES ----------------- */
/*login shortcodes*/
#nd_donations_shortcode_account_login_form label { float: left; width: 100%; margin-top: 20px; }
#nd_donations_shortcode_account_login_form input[type="text"],
#nd_donations_shortcode_account_login_form input[type="password"],
#nd_donations_shortcode_account_login_form input[type="submit"] { float: left; width: 100%; }
#nd_donations_shortcode_account_login_form input[type="submit"] { margin-top: 20px; }

/*single cause form*/
.nd_donations_single_cause_form_validation_errors { color: #fff; font-size: 10px; line-height: 10px; padding: 5px 5px; position: absolute; right: 0; bottom: 0; }
.nd_donations_single_cause_form_donation_value.nd_donations_fixed_value_donation_selected { color: #fff !important; }


/* -----------------JQUERY UI----------------- */
.ui-helper-hidden-accessible { display: none; }



/* ----------------- THEME COMPATIBILITY----------------- */
#nd_donations_single_cause_form_donation_paypal_submit:hover{
	background-repeat: no-repeat;
	background-size: 57px;
	background-position: right 20px top -10px;
}

/*Twenty Seventeen*/
body.single-causes .single-featured-image-header { display: none; }


/*  RESPONSIVE ------------------------------------------------------- */

/* ipad land*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .nd_donations_container{width:960px;}
}

/* ipad port*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .nd_donations_container {width:748px;}
}

/* iphone land*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body{ -webkit-text-size-adjust:none; }      
    .nd_donations_container {width:460px;}
}

/* iphone port*/
@media only screen and (min-width: 320px) and (max-width: 479px){
    body{ -webkit-text-size-adjust:none; }
    .nd_donations_container{ width:300px;}
    .nd_donations_margin_top_20_iphone_port { margin-top: 20px; }
    .nd_donations_display_none_iphone_port { display: none; }
    .nd_donations_display_block_iphone_port { display: block; }
    .nd_donations_display_margin_top_10_iphone_port { margin-top: 10px; }


    /*custom*/
    #nd_donations_single_cause_tab_list li { width: 100%; margin: 0px; }
}

/* all responsive*/
@media only screen and (min-width: 320px) and (max-width: 1199px) {
  	
  	.nd_donations_display_none_responsive { display: none; } 
  	.nd_donations_display_block_responsive { display: block; } 
  	
  	.nd_donations_cursor_move_responsive { cursor: move; }
  	
  	.nd_donations_width_100_percentage_responsive { width: 100%; }  
  	.nd_donations_width_20_responsive { width: 20px; }  
  	
  	.nd_donations_text_align_left_responsive { text-align: left; }
  	.nd_donations_text_align_center_responsive { text-align: center; }
  	
  	.nd_donations_float_left_responsive { float: left; }
  	
  	.nd_donations_margin_bottom_20_responsive { margin-bottom: 20px; }
  	.nd_donations_margin_0_10_responsive { margin: 0px 10px; }

	.nd_donations_padding_top_0_responsive { padding-top: 0px; }
	.nd_donations_padding_bottom_0_responsive { padding-bottom: 0px; } 
	.nd_donations_padding_bottom_20_responsive { padding-bottom: 20px; } 
	.nd_donations_padding_bottom_20_important_responsive { padding-bottom: 20px !important; } 
	.nd_donations_padding_20_responsive { padding: 20px; }  
	.nd_donations_padding_0_responsive { padding: 0px; }	
  	
  	.nd_donations_font_size_30_responsive { font-size: 30px; }
  	.nd_donations_font_size_17_responsive { font-size: 17px; }
  	.nd_donations_font_size_13_responsive { font-size: 13px; }

}

/* all iphone*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.nd_donations_width_50_all_iphone { width: 50px; }
	.nd_donations_width_100_percentage_all_iphone { width: 100%; }
	
	.nd_donations_float_left_all_iphone { float: left; }
	
	.nd_donations_display_none_all_iphone { display: none; }
	.nd_donations_display_block_all_iphone { display: block; } 
	
	.nd_donations_padding_left_0_all_iphone { padding-left: 0px; }
	.nd_donations_padding_0_all_iphone { padding: 0px; }

	.nd_donations_width_50_percentage_all_iphone { width: 50%; }
	.nd_donations_font_size_40_all_iphone { font-size: 40px; }

    .nd_donations_line_height_40_all_iphone { line-height: 40px; }
    .nd_donations_line_height_25_all_iphone { line-height: 25px; }

    .nd_donations_margin_top_20_all_iphone { margin-top: 20px; }
    .nd_donations_margin_left_0_all_iphone { margin-left: 0px; }
    .nd_donations_text_align_center_all_iphone { text-align: center; }

    .nd_donations_box_sizing_border_box_all_iphone { box-sizing: border-box; } 

    .nd_donations_border_0_all_iphone { border-width: 0px; } 

}





